<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40161173214-58he1l5p4ut5p2iuaps2ihvruq67m719.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40161173214-58he1l5p4ut5p2iuaps2ihvruq67m719</string>
	<key>API_KEY</key>
	<string>AIzaSyAFFUZH3Ywfd04vxAeoDqhgjxuMeC75k_A</string>
	<key>GCM_SENDER_ID</key>
	<string>40161173214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidwang.cardinalkit-example</string>
	<key>PROJECT_ID</key>
	<string>hackathon092020</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon092020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40161173214:ios:f6076f974bfbfa66b3ac4f</string>
	<key>DATABASE_URL</key>
	<string>https://hackathon092020.firebaseio.com</string>
</dict>
</plist>